.signup-div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

h2{
    margin: 0;
}

hr{
    width: 15rem;
    height: 0.1rem;
    background-color: black;
}

.landing-div {
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

.post-card {
    margin: 1.2rem 0;
}

.new-post-div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.new-post-button{
    align-self: center;
}

.form-div{
    display: flex;
    flex-direction: column;
}

.card-img{
    height:450px;
    object-fit:cover;
}

.nav-button{
    margin: 0 0.5rem;
}

.img-input{
    position:absolute;
    z-index: -1;
}

.img-div{
    position: relative;
    text-align: center;
}

.upload-button{
    margin: 1rem 0;
}

.auth-div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.auth-button{
    margin: 1rem 1rem;
    border: none;
}

.loading-div{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}